/target
/checkouts
/src/gen
.cpcache/
/build

node_modules

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

/out

.calva/output-window
.calva/repl.calva-repl
.lsp/.cache
.clj-kondo/.cache
.clj-kondo/imports/
