{:deps {:aliases [:dev]}
 :builds
 {:test {:target    :node-test
         :output-to "out/tests.js"
         :ns-regexp "-test$"
         :autorun   true}
  :test-compile {:target    :node-test
                 :output-to "out/tests.js"
                 :ns-regexp "-test$"}}}